h1 {
  margin: 5% auto;
  padding-top: 10%;
  color: white;
  text-shadow: 2px 2px 5px grey;
  font-size: 100px;
}

svg {
  margin: 5% auto;
  position: absolute;
  left: 0;
}

.bird-wrapper {
  margin: 5% auto;
}

h3 , h2 {
  color: white;
  text-shadow: 2px 2px 5px grey;
  font-size: 6vh;
}

p {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px grey;
  font-size: 100px;
  margin: 5% auto;
}

ul {
  width: 100%;
  color: white;
  font-size: 30px;
  z-index: 100;
  padding-bottom: 2.5%;
}

span {
  font-family: 'Annie Use Your Telescope';
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}

.fa-github {
  position: absolute;
  left: 0;
  top: 0;
  margin: 5%;
}

.fa-linkedin {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5%;
}

.bird-wrapper {
  display: -webkit-inline-box;
  width: 35%;
}

.projects, .aboutme {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 10%;
  margin-top: 10%;
  -webkit-animation: Gradient 15s ease infinite;
  background: -webkit-linear-gradient(45deg, #E73C7E, #23A6D5);
  width: -webkit-fill-available;
  box-shadow: 0 14px 28px rgba(1,0,0,0.25), 0 10px 10px rgba(100,0,0,0.22);
  z-index: 100;
}
